tei/bbti.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>British Book Trade Index</title>
         </titleStmt>
         <publicationStmt>
            <p>For publication information, see the metadata.xml file.</p>
         </publicationStmt>
         <sourceDesc>
            <p>Born digital.</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>
         <schemaSpec ident="bbti" start="TEI body">
            <moduleRef key="header" include="availability category classDecl encodingDesc fileDesc idno licence publicationStmt sourceDesc sponsor taxonomy teiHeader textClass titleStmt"/>
            <moduleRef key="core" include="abbr address addrLine author bibl biblScope choice desc emph expan gloss head hi item lb label list listBibl publisher pubPlace note p ptr q ref resp respStmt title"/>
            <moduleRef key="tei"/>
            <moduleRef key="textstructure" include="body div TEI text"/>
            <moduleRef key="namesdates" include="country forename listOrg listPlace location persName org orgName place placeName region settlement state surname"/>
            <!-- For now, we don't want any of the elements, just some of the global linking attributes. -->
            <moduleRef key="linking" exclude="ab alt altGrp anchor annotation join joinGrp link linkGrp listAnnotation seg standOff timeline when"/>
            <moduleRef key="tagdocs" include="code"/>
            
            <!-- Let's get rid of some attributes we don't need. -->
            
            <classSpec ident="att.global.linking" type="atts" mode="change">
               <attList>
                  <attDef ident="synch" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="exclude" mode="delete"/>
                  <attDef ident="select" mode="delete"/>
               </attList>
            </classSpec>
            
            <classSpec ident="att.global.rendition" type="atts" mode="change">
               <attList>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </classSpec>
            
            <classSpec ident="att.anchoring" type="atts" mode="delete"/>
            <classSpec ident="att.ascribed" type="atts" mode="delete"/>
            <classSpec ident="att.breaking" type="atts" mode="delete"/>
            <classSpec ident="att.citeStructurePart" type="atts" mode="delete"/>
            <classSpec ident="att.cmc" type="atts" mode="delete"/>
            <classSpec ident="att.cReferencing" type="atts" mode="delete"/>
            <classSpec ident="att.damaged" type="atts" mode="delete"/>
            <classSpec ident="att.datable.iso" type="atts" mode="delete"/>
            <classSpec ident="att.datCat" type="atts" mode="delete"/>
            <classSpec ident="att.divLike" type="atts" mode="delete"/>
         </schemaSpec>
      </body>
   </text>
</TEI>
