tei/bbti.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>British Book Trade Index</title>
         </titleStmt>
         <publicationStmt>
            <p>For publication information, see the metadata.xml file.</p>
         </publicationStmt>
         <sourceDesc>
            <p>Born digital.</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>
         <schemaSpec ident="bbti" start="TEI body">
            <moduleRef key="header" include="availability category classDecl encodingDesc fileDesc idno licence publicationStmt sourceDesc sponsor taxonomy teiHeader textClass titleStmt"/>
            <moduleRef key="core" include="abbr address addrLine author bibl biblScope choice desc emph expan gloss head hi item lb label list listBibl publisher pubPlace note p ptr q ref resp respStmt title"/>
            <moduleRef key="tei"/>
            <moduleRef key="textstructure" include="body div TEI text"/>
            <moduleRef key="namesdates" include="country forename listOrg listPlace location persName org orgName place placeName region settlement state surname"/>
            <!-- For now, we don't want any of the elements, just some of the global linking attributes. -->
            <moduleRef key="linking" exclude="ab alt altGrp anchor annotation join joinGrp link linkGrp listAnnotation seg standOff timeline when"/>
            <moduleRef key="tagdocs" include="code"/>
            
            <!-- Let's get rid of some attributes we don't need. -->
            
            <classSpec ident="att.global.linking" type="atts" mode="change">
               <attList>
                  <attDef ident="synch" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="exclude" mode="delete"/>
                  <attDef ident="select" mode="delete"/>
               </attList>
            </classSpec>
            
            <classSpec ident="att.global.rendition" type="atts" mode="change">
               <attList>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </classSpec>
            
            <classSpec ident="att.pointing" type="atts" mode="change">
               <attList>
                  <attDef ident="targetLang" mode="delete"/>
                  <attDef ident="evaluate" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.anchoring" type="atts" mode="delete"/>
            <classSpec ident="att.ascribed" type="atts" mode="delete"/>
            <classSpec ident="att.breaking" type="atts" mode="delete"/>
            <classSpec ident="att.citeStructurePart" type="atts" mode="delete"/>
            <classSpec ident="att.cmc" type="atts" mode="delete"/>
            <classSpec ident="att.cReferencing" type="atts" mode="delete"/>
            <classSpec ident="att.damaged" type="atts" mode="delete"/>
            <classSpec ident="att.datable.iso" type="atts" mode="delete"/>
            <classSpec ident="att.datCat" type="atts" mode="delete"/>
            <classSpec ident="att.divLike" type="atts" mode="delete"/>
            <classSpec ident="att.duration" type="atts" mode="delete"/>
            <classSpec ident="att.duration.iso" type="atts" mode="delete"/>
            <classSpec ident="att.duration.w3c" type="atts" mode="delete"/>
            <classSpec ident="att.edition" type="atts" mode="delete"/>
            <classSpec ident="att.editLike" type="atts" mode="delete"/>
            <classSpec ident="att.enjamb" type="atts" mode="delete"/>
            <classSpec ident="att.entryLike" type="atts" mode="delete"/>
            <classSpec ident="att.formula" type="atts" mode="delete"/>
            <classSpec ident="att.fragmentable" type="atts" mode="delete"/>
            <classSpec ident="att.gaijiProp" type="atts" mode="delete"/>
            <classSpec ident="att.global.analytic" type="atts" mode="delete"/>
            <classSpec ident="att.global.change" type="atts" mode="delete"/>
            <classSpec ident="att.global.facs" type="atts" mode="delete"/>
            <classSpec ident="att.handFeatures" type="atts" mode="delete"/>
            <classSpec ident="att.identified" type="atts" mode="delete"/>
            <classSpec ident="att.indentation" type="atts" mode="delete"/>
            <classSpec ident="att.internetMedia" type="atts" mode="delete"/>
            <classSpec ident="att.interpLike" type="atts" mode="delete"/>
            <classSpec ident="att.lexicographic" type="atts" mode="delete"/>
            <classSpec ident="att.lexicographic.normalized" type="atts" mode="delete"/>
            <classSpec ident="att.linguistic" type="atts" mode="delete"/>
            <classSpec ident="att.locatable" type="atts" mode="delete"/>
            <classSpec ident="att.measurement" type="atts" mode="delete"/>
            <classSpec ident="att.media" type="atts" mode="delete"/>
            <classSpec ident="att.metrical" type="atts" mode="delete"/>
            <classSpec ident="att.milestoneUnit" type="atts" mode="delete"/>
            <classSpec ident="att.msClass" type="atts" mode="delete"/>
            <classSpec ident="att.msExcerpt" type="atts" mode="delete"/>
            <classSpec ident="att.namespaceable" type="atts" mode="delete"/>
            <classSpec ident="att.naming" type="atts" mode="delete"/>
            <classSpec ident="att.notated" type="atts" mode="delete"/>
            <classSpec ident="att.partials" type="atts" mode="delete"/>
            <classSpec ident="att.patternReplacement" type="atts" mode="delete"/>
            <classSpec ident="att.personal" type="atts" mode="delete"/>
            <classSpec ident="att.placement" type="atts" mode="delete"/>
            <classSpec ident="att.pointing.group" type="atts" mode="delete"/>
            <classSpec ident="att.predicate" type="atts" mode="delete"/>
            <classSpec ident="att.ranging" type="atts" mode="delete"/>
            <classSpec ident="att.rdgPart" type="atts" mode="delete"/>
            <classSpec ident="att.repeatable" type="atts" mode="delete"/>
            <classSpec ident="att.resourced" type="atts" mode="delete"/>
            <classSpec ident="att.scoping" type="atts" mode="delete"/>
            <classSpec ident="att.segLike" type="atts" mode="delete"/>
            <classSpec ident="att.sortable" type="atts" mode="delete"/>
            <classSpec ident="att.spanning" type="atts" mode="delete"/>
            <classSpec ident="att.styleDef" type="atts" mode="delete"/>
            <classSpec ident="att.tableDecoration" type="atts" mode="delete"/>
            <classSpec ident="att.textCritical" type="atts" mode="delete"/>
            <classSpec ident="att.timed" type="atts" mode="delete"/>
            <classSpec ident="att.transcriptional" type="atts" mode="delete"/>
            <classSpec ident="att.translatable" type="atts" mode="delete"/>
            <classSpec ident="att.witnessed" type="atts" mode="delete"/>
            <classSpec ident="att.written" type="atts" mode="delete"/> 
            
            
         </schemaSpec>
      </body>
   </text>
</TEI>
